.dashboardLayout {
    display: flex;
    gap: 0px;
    height: 100%;

    .menuleft {
        flex: 0.7;
    }

    .menuright {
        flex:1;
    }

    .content {
        flex: 3.5;
        background:#111212;
        border-radius: 10px;
    }
    
      
      
      

}