.chatpage {
    display: flex;
    flex-direction: column;
    height: 100%; /* Take full screen height */
    overflow: hidden; /* Prevent scroll from affecting entire layout */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 0 10px;
  }
  
  .titleSection {
    flex-shrink: 0; /* Prevent shrinking */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 10px;
    padding: 0 20px;
    height: 60px; /* Optional: lock height */
  }

.titleSection h3 {
    margin-right: 20px;
    font-size: 10px;
    font-weight: normal;
    color: #cecece; /* Adjust text color */
    white-space: nowrap; /* Prevent wrapping */
    line-height: 1; /* Ensures alignment with the title */
}

.chatContent {
    flex: 1; /* Take remaining height */
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }