/* Main container */
.reportGenerator {
    padding: 20px;
    color: white;
    overflow-y: auto;
    height: 100%;
    /* Glassmorphism Effect */
    background: rgba(255, 255, 255, 0.1);
    /* Semi-transparent background */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* Safari Support */
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin:0 10px;

}

/* Back button styling */
.backButton {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ba181b;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

/* Header */
.reportGenerator h1 {
    font-size: 16px;
    color:  #ffffff;
    margin-bottom: 20px;
    font-weight: 600;
}

/* File upload section */
.fileUploadSection {
    margin-bottom: 20px;
}

.fileUploadLabel {
    display: block;
    margin-bottom: 10px;
    color: #ccc;
}

#fileInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #3180c8;
    border-radius: 5px;
    background-color: #0B1739;
    color: white;
}

/* File summary */
.fileSummary {
    margin: 10px 0;
    color: #ccc;
}

/* Buttons */
.generateButton,
.downloadButton {
    background-color: #3180c8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

/* Error message */
.error {
    color: red;
    margin-top: 10px;
}

/* Report output */
.reportOutput {
    margin-top: 20px;
    background-color: #0B1739;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #3180c8;
    color: white;
}

.reportOutput pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: "Courier New", Courier, monospace;
}