.homepage {
    display: flex;
    align-items: center;
    gap: 80px;
    height: 95%;
    padding: 50px;
    /* Glassmorphism Effect */
    background: var(--glassmorphism-background);
    /* Semi-transparent background */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* Safari Support */
    border-radius: 15px;
    border: var(--glassmorphism-border);
    box-shadow: var(--glassmorphism-box-shadow);
    overflow: hidden;
}

/* Adding red blobs using ::before and ::after */
.homepage::before,
.homepage::after
{
    content: "";
    position: absolute;
    opacity: 60%;
    width: 600px;
    height: 600px;
    background: var(--glassmorphism-blob-background);
    border-radius: 80%;
    filter: blur(90px);
    z-index: -1;
}

/* First red blob - Top Left */
.homepage::before {
    top: 10px;
    left: -180px;
}

/* second red blob - Top Left */
.homepage::after {
    bottom: -400px;
    left: 800px;
}


@media screen and (max-width: 1024px) {
    .homepage {
        flex-direction: column;
        gap: 0px;
    }
}

.homepage .left {
    flex: 1.4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    text-align: left;
}

.homepage .left h1 {
    font-size: 42px; 
    font-weight: 700; 
    color: #ffffff; 
    margin-bottom: 10px; 
}

.homepage .left h2 {
    font-weight: 300;
    font-size: 1em;
    max-width: 100%;
    line-height: 1.3;
    color: #cccccc;
}

.homepage .left h3 {
    font-weight: 300;
    font-size: 14px;
    max-width: 100%;
    line-height: 1.3;
    color: #1a1616;
}

.homepage .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.homepage .right .imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
}

.homepage .right .imgContainer .amplogo {
    width: 120%;
    height: 120%;
    object-fit: contain;
    animation: floatAnimation 4s ease-in-out infinite;
}

.homepage .homebuttons {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 20px;
}

.homepage .homebuttons a {
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.homepage .homebuttons a:first-child {
    background-color: var(--primary-button-background);
    color: #ffffff;
}

.homepage .homebuttons a:first-child:hover {
    background-color: var(--primary-button-hover-background);
}

.homepage .homebuttons a:last-child {
    color: #cccccc;
    font-size: 14px;
    font-weight: 300;
}


.homepage .features {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.homepage .feature {
    flex: 1;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: var(--feature-background);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 12px;
    border: var(--feature-border);
    box-shadow: var(--feature-box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.homepage .feature:hover {
    transform: translateY(-3px);
    background: var(--feature-hover-background);
    border: var(--feature-hover-border);
}

.homepage .feature h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: 500;
}

.homepage .feature p {
    font-size: 12px;
    color: #cccccc;
    text-align: center;
    max-width: 90%;
}


@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
